<hr />
<div class="footer-container">
	<p>&copy; {% year %} Joel's Portfolio</p>
	<div class="social_icons">
		<a
			href="https://twitter.com/olawanle_joel"
			aria-label="Twitter"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-twitter"></i>
		</a>
		<a
			href="https://github.com/olawanlejoel"
			aria-label="GitHub"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-github"></i>
		</a>
		<a
			href="https://www.linkedin.com/in/olawanlejoel/"
			aria-label="LinkedIn"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-linkedin"></i>
		</a>
	</div>
</div>
